:root {
  --background-color: #0d0322;
  --foreground-color: #fff;
  --highlight-color: #b386ea;
  --animation-delay: 0.8s;
  --animation-duration: 0.7s;
}

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: ff-tisa-sans-web-pro, sans-serif;
}

body {
  margin: 0px;
}
