{% extends "root.html" %}

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.locale(auto_detect=True) }}

{% block content %}
  <h1>Today</h1>
  {% if events %}
  <ol class="unmarked">
    {% for event in events %}
    <li class="event">
      <h3><a href="/events/{{ event.id }}" class="fancy">{{ event.title }}</a></h3>
      <span>{{ moment(event.start).format("LT") }}–{{ moment(event.end).format("LT") }} ({{ moment(event.start).fromNow(refresh=True) }})</span>
      {% if event.tasks %}
      <section>
        {% for task in event.tasks %}
        <span class="task">{{ task.title }}</span>
        {% endfor %}
      </section>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  <p class="endmsg">That's all for today!</p>
  {% else %}
  <p class="endmsg">You have nothing to do!</p>
  {% endif %}
  <a class="add" tabindex="0" onclick="if(document.querySelector('#addmenu').className.match('open')) {document.querySelector('#addmenu').className = '';} else {document.querySelector('#addmenu').className = 'open';}">
    <svg height="512" viewBox="0 0 448 448" width="512" xmlns="http://www.w3.org/2000/svg" class="">
      <g transform="matrix(0.636186, 0, 0, 0.636186, 81.4944, 81.4944)">
        <path d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0">
        </path>
      </g>
    </svg>
  </a>
  <div id="addmenu">
    <a href="/add/event" class="fancy">Event</a>
    <a href="/add/task" class="fancy">Task</a>
    <a href="/add/block" class="fancy">Block</a>
  </div>
{% endblock %}
