<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block linkedfiles %}
    <link rel='manifest' href='/static/pwa/manifest.webmanifest'>
    <link rel="apple-touch-icon" sizes="512x512" href="static/pwa/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/master.css">
    {% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Grapes</title>
    {% endif %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
    <script src="/upup.min.js"></script>
    <script>
      UpUp.start({
        "content-url": "/static/pwa/offline.html",
        "assets": ["/static/css/master.css", "static/pwa/offline.css"]
      });
    </script>
  </head>
  <body>
    {% block nav %}
    <nav>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('signin') }}" class="split-right">Sign In</a>
      <a href="{{ url_for('register') }}">Get Started</a>
      {% else %}
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('account') }}" class="split-right">Account</a>
      <a href="{{ url_for('signout') }}">Sign Out</a>
      {% endif %}
    {% endblock %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
