<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel='manifest' href='/static/pwa/manifest.webmanifest'>
    <link rel="apple-touch-icon" sizes="512x512" href="static/pwa/apple-touch-icon.png">
    <link rel="stylesheet" href="/static/css/master.css">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Grapes</title>
    {% endif %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.locale(auto_detect=True) }}
    <script type="text/javascript">
// This is the "Offline copy of pages" service worker

// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

// Check compatibility for the browser we're running this in
if ("serviceWorker" in navigator) {
if (navigator.serviceWorker.controller) {
  console.log("Active service worker found, no need to register");
} else {
  // Register the service worker
  navigator.serviceWorker
    .register("/static/sw.js", {
      scope: "./"
    })
    .then(function (reg) {
      console.log("Service worker has been registered for scope: " + reg.scope);
    });
}
}
    </script>
  </head>
  <body>
    <nav>
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('signin') }}" class="split-right">Sign In</a>
      <a href="{{ url_for('register') }}">Get Started</a>
      {% else %}
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('account') }}" class="split-right">Account</a>
      <a href="{{ url_for('signout') }}">Sign Out</a>
      {% endif %}
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
